@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
    --font-sans: "Poppins", sans-serif; 
    --font-mono: "JetBrains Mono", monospace;
}

.continuous-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%; /* Hình tròn */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Đổ bóng nhẹ */
  transition: all 0.3s ease;
  overflow: hidden !important;
  color: oklch(25.8% 0.092 26.042) !important;
  background-color: azure;
  padding: 8px !important; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1); /* Phóng to nhẹ */
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6);
}