name: Auto Deployment

on:
  push:
    branches: [production]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        script: |
          cd home/ubuntu/employee-management
          git fetch origin
          git checkout production
          eval $(ssh-agent -s)
          ssh-add ~/.ssh/yalog
          git pull
          npm install
          npm run build
          pm2 reload em
